.newsCard {
  border: 1px solid black;
  width: 300px;
  height: 350px;
  margin-top: 50px;
  background-color: rgba(176, 192, 205, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  padding: 10px;
}

.image {
  width: 100%;
}

.content {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}